{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cart{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script>
        function delete_item(id) {
            $.ajax({
                url: '/cart/delete_item',
                data: id,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
  <ul class=lists>
  {% for item in lists %}
      <br>
        <li>
          <h3>Name : {{ item.name }}</h3>
          {% if item.dc > 0 %}
              <span>Amount : {{ item.dc }}%</span>
              <br><span><del>Original Price : {{ item.price }}$</del></span>
              <br><span>DC Rate : {{ item.dc }}%</span>
              <br><span>Price : {{ "%.2f" | format(item.price * ((100.0 - item.dc) / 100.0)) }}$</span>
          {% else %}
              <span>Price : {{item.price}}$</span>
          {% endif %}
        <br><span>Amount : {{ item.quantity }}</span>
          <br><a class="button button" onclick="delete_item({{ item.id }})">delete</a> <br>
        </li>
  {% else %}
      <li><em>No item exist.</em></li>
  {% endfor %}
  </ul>
  <ul class=lists>
      <br><h2>Total Price : {{ "%.2f" | format(totalprice) }}$ </h2>
      <form action={{ url_for('payment.cart') }} method=post class="confirm-button">
          <input type="hidden" name=price value={{"%.2f" | format(totalprice)}}>
          <input type="hidden" name=amount value=0>
          <input type="hidden" name=product_id value=0>
          <p><input type=submit value=Purchase class="button"></p>
      </form>
  </ul>
{% endblock %}
