{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Product_list{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul class=lists>
  {% for item in lists %}
      <br>

        <li>
          <h3>product : {{ item.name}}  <br> price : {{ item.price|safe }}</h3>  <a class="button button">delete</a> <br>
        </li>

  {% else %}
      <li><em>No item exist.</em></li>
  {% endfor %}
  </ul>
    <ul class=totalprice><br><h2>Total Price : {{ totalprice }} </h2><br></ul>
    <br><input type = submit value = Purchase>
{% endblock %}
