{% extends 'base.html' %}

{% block header %}
  {% block title %}장바구니{% endblock %}
{% endblock %}

{% block content %}
    <script>
        function delete_item(id) {
            $.ajax({
                url: '/cart/delete_item',
                data: id,
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
  <div class="div-block-simple-product-info">
  <ul class=lists>
  {%  if lists %}
  {% for item in lists %}
        <br>
          <h3>Name : {{ item.name }}</h3>
          {% if item.dc > 0 %}
              <span><del>원가 : {{ item.price }}$</del></span>
              <br><span>할인율 : {{ item.dc }}%</span>
              <br><span>가격 : {{ "%.2f" | format(item.price * ((100.0 - item.dc) / 100.0)) }}$</span>
          {% else %}
              <span>가격 : {{item.price}}$</span>
          {% endif %}
        <br><span>수량 : {{ item.quantity }}</span>
      <div class="simple-product-description2">
          <br><a class="button button" onclick="delete_item({{ item.id }})">삭제</a> <br>
      </div>
      <div class="div-separator"></div>
  {% endfor %}
  {% else %}
      <h2><li><em>장바구니에 담긴 상품이 없습니다..</em></li></h2>
  {% endif %}
  </ul>
  <ul class=lists>
    {%  if totalprice != 0 %}
      <br><h2>결재 예상 금액 : {{ "%.2f" | format(totalprice) }}$ </h2>
      <form action={{ url_for('payment.cart') }} method=post class="confirm-button">
          <input type="hidden" name=price value={{"%.2f" | format(totalprice)}}>
          <input type="hidden" name=amount value=0>
          <input type="hidden" name=product_id value=0>
          <p><input type=submit value=구매하기 class="button"></p>
      </form>
    {%  endif %}
  </ul>
  </div>

{% endblock %}
