{% extends 'base.html' %}

{% block header %}
  {% block title %}MyList{% endblock %}
{% endblock %}

{% block content %}
    <script>
        function delete_item(id) {
            $.ajax({
                url: '/mylist/delete_item',
                data: id,
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <ul class=lists>
        <div class="div-block-simple-product-info">
        {% if lists %}
            {% for item in lists %}
                <div class="simple-product-description1">
                    <h3  class="heading-3"><a href="{{ url_for('product.product_info') }}{{ item.id }}" style="text-decoration:none; color:black;">{{ item.name }}</a></h3>
                </div>
                <div class="simple-product-description2">
                    <a onclick="delete_item({{ item.id }})" class="button">delete</a> <br>
                </div>
                <div class="div-separator"></div>
            {% endfor %}
        {% else %}
          <h2><li><em>No item exist.</em></li></h2>
        {% endif %}
        </div>
    </ul>
{% endblock %}
