{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}MyList{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script>
        function delete_item(id) {
            $.ajax({
                url: '/mylist/delete_item', data: id, type: 'POST', contentType: false,processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <ul class=lists>

    {% for item in lists %}
        <div class="div-block-simple-product-info">
            <h5 class="heading-3"><a href="{{ url_for('product.product_info') }}{{ item.id }}" style="text-decoration:none; color:black;">{{ item.name }}</a></h5>
            <a onclick="delete_item({{ item.id }})" class="tack-button">delete</a> <br>
        </div>
        <div class="div-separator"></div>

    {% endfor %}
    {#    {% else %}#}
    {#    <li><em>No item exist.</em></li>#}
    </ul>
{% endblock %}
