{% extends 'base.html' %}

{% block header %}
  {% block title %}My account{% endblock %}
{% endblock %}

{% block content %}
    <div class="form-block">
        <form method="post" id="account-form" name="account-form" class="form">
            <label for="name">Name:</label>
            <input type="text" class="input" maxlength="256" name="name" data-name="Name" value="{{ user['name'] }}"
                   id="name" required=""/>
            <label for="email">Email Address:</label>
            <input type="email" class="input" maxlength="256" name="email" data-name="Email"
                   value="{{ user['email'] }}" id="email" required=""/>
            <label for="password">New Password (only for setting a new password)</label>
            <input type="password" class="input" maxlength="256" name="password" data-name="password"
                   placeholder="Enter your new password" id="password"/>
            <label for="phone">Phone Number</label>
            <input type="text" class="input" maxlength="256" name="phone" data-name="phone"
                   value="{{ user['phone'] }}" id="phone" required=""/>
            <label for="address">Address</label>
            <input type="text" class="input" maxlength="256" name="address" data-name="address"
                   value="{{ user['address'] }}" id="address" required=""/>
            <input type="submit" name="submit" value="Save" class="button"/></br>
            <input type="submit" name="submit" value="Delete Account" class="button"/>
        </form>
    </div>
{% endblock %}
