{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Product Detail{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script>
        function add_cart(id) {
            var amount = $("#amount").val();
            var obj = new Object();
            obj.ID= id;
            obj.AMT = amount;
            $.ajax({
                url: '/product/add_item',
                data: JSON.stringify(obj, null, '\t'),
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                        alert(data.msg);
                    }
                }
            });
        }
        function change_amount(amt, price) {
            var pr = price.toFixed(2);
            $("#price").val(amt*pr);
        }
    </script>
  <ul class=item>
      <br>
        <h3>Name : {{ item.name }}</h3>
          {% if item.dc_rate > 0 %}
              <span><del>Original Price : {{ item.price }}$</del></span>
              <br><span>DC Rate : {{ item.dc_rate }}%</span>
              <br><span>Price : {{ "%.2f" | format(item.price * ((100.0 - item.dc_rate) / 100.0)) }}$</span>
          {% else %}
              <span>Price : {{item.price}}$</span>
          {% endif %}

          <br><a class="button button" onclick="add_cart({{ item.product_id }})">Add Cart</a>

          <form action={{ url_for('payment.cart') }} method=post class="form">
            <br><br><label for="name">Amount:</label>
            <input type="number" id="amount" name="amount" min=1 class="input" maxlength="128" value=1 onchange="change_amount(this.value, {{ item.price * ((100.0 - item.dc_rate) / 100.0) }})" style="width:25%"/>
            <input type="hidden" name=price id="price" value={{ "%.2f" | format(item.price * ((100.0 - item.dc_rate) / 100.0)) }}>
            <input type="hidden" name="product_id" value={{ item.product_id }}>
            <p><input type=submit value=Purchase class="button button" style="width:25%"></p>
          </form>
  </ul>
{% endblock %}
