{% extends 'base.html' %}

{% block content %}
    <script>
        function add_cart(id) {
            var amount = $("#amount").val();
            var obj = new Object();
            obj.ID= id;
            obj.AMT = amount;
            $.ajax({
                url: '/cart/add_item',
                data: JSON.stringify(obj, null, '\t'),
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                        alert(data.msg);
                    }
                }
            });
        }
        function add_mylist(id) {
            var amount = $("#amount").val();
            var obj = new Object();
            obj.ID= id;
            $.ajax({
                url: '/mylist/add_item',
                data: JSON.stringify(obj, null, '\t'),
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                processData: false,
                success: function(data) {
                    if(data.result) {
                        location.reload();
                        alert(data.msg);
                    }
                }
            });
        }
        function change_amount(amt, price) {
            var pr = price.toFixed(2);
            $("#price").val(amt*pr);
        }
    </script>

    <div class="div-block-product-info">
        <h1>{{ product['name'] }}</h1>
        <div class="div-block-product-info-sub1">
            <span>별점 &nbsp; {{ product['product_rating'] }}</span>&nbsp;&nbsp; | &nbsp;&nbsp;<span>판매량 &nbsp;&nbsp;{{ product['sales_num'] }}</span><br>
        </div>
        <div class="div-block-product-info-sub2">
            {% if product['dc_rate'] > 0 %}
                <span class="span-dc-rate" style="font-size: 30px">{{ product['dc_rate'] }}%</span>&nbsp;&nbsp;&nbsp;
                <span class="span-dc-price" style="font-size: 30px">{{ "%.2f" | format(product['price'] * (100.0 - product['dc_rate']) / 100.0) }}$</span>&nbsp;&nbsp;&nbsp;
                <span class="span-original-price" style="font-size: 15px"><del>{{ product['price'] }}$</del>&darr;</span>
            {% else %}
                <span style="font-size: 30px">{{ product['price'] }}$</span>
            {% endif %}
        </div>
        <hr class="hr-in-product-info">
        <div class="description-in-product-info">
            <p>blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~! </p>
            <p>blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~! </p>
            <p>blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~! </p>
            <p>blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~! </p>
            <p>blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~ blabla~! </p>
        </div>
        <hr class="hr-in-product-info">
        <form class=form-in-product-info" action={{ url_for('payment.cart') }} method=post style=>
            <input name="product_id" type="hidden" value="{{ product['product_id'] }}">
            <input name="user_id" type="hidden" value="museop">
            <label for="amount">수량</label>
            <input type="number" id="amount" name="amount" min=1 value=1 onchange="change_amount(this.value, {{ product['price'] * ((100.0 - product['dc_rate']) / 100.0) }})" />
            <input type="submit" name="action" value="찜하기" class="button" onclick="add_mylist({{ product['product_id'] }})"/>
            <input type="submit" name="action" value="장바구니 담기" class="button" onclick="add_cart({{ product['product_id'] }})"/>
            <input type="hidden" name="price" id="price" value={{ "%.2f" | format(product['price'] * ((100.0 - product['dc_rate']) / 100.0)) }}>
            <input type="hidden" name="product_id" value={{ product['product_id'] }}>
            <input type="submit" name="action" value="구매하기" class="button"/>
        </form>


    </div>
{% endblock %}
