{% extends 'base.html' %}

{% block header %}
    {% block title %}Categories{% endblock %}
{% endblock %}

{% block content %}
    <div class="nav-category">
        <a href="{{ url_for('search.category')}}clothes" class="nav-category-link">Clothes</a>
        <a href="{{ url_for('search.category')}}food" class="nav-category-link">Food</a>
        <a href="{{ url_for('search.category')}}book" class="nav-category-link">Book</a>
    </div>
    <hr>

    <div class="products_list">
        {% if category %}
            {% for product in products %}
                <div class="product_into">
                    <header>
                        <div>
                            <h2>{{ product['name'] }}</h2>
                            <div class="about">Price: {{ product['price'] }}, Stock: {{ product['stock'] }}, Category: {{ product['category'] }},  <a href="">Buying</a></div>
                        </div>
                    </header>
                    <p class="description">DC rate: {{ product['dc_rate'] }}, Sales num: {{ product['sales_num'] }},</p>
                </div>
                {% if not loop.last %}
                <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
