{% extends 'base.html' %}

{% block header %}
    {% block title %}Search Result for '{{ product_name }}'{% endblock %}
{% endblock %}

{% block content %}
    {% if products %}
    <div class="div-block">
        <div class="div-separator"></div>
        {% for product in products %}
        <div class="div-block-simple-product-info">
            <h5 class="heading-3"><a href="{{ url_for('product.product_info') }}{{ product['product_id'] }}" style="text-decoration:none; color:black;">{{ product['name'] }}</a><br></h5>
            <div class="simple-product-description1">
                <span>description</span><br>
                <span>[{{ product['category'] }}]</span>
            </div>
            <div class="simple-product-description2">
                {% if product['dc_rate'] > 0 %}
                    <span class="span-dc-price">{{ "%.2f" | format(product['price'] * (100.0 - product['dc_rate']) / 100.0) }}$</span><br>
                    <span class="span-original-price"><del>{{ product['price'] }}$</del>&darr;</span><br>
                    <span class="span-dc-rate">DC: {{ product['dc_rate'] }}%</span>
                {% else %}
                    <span>{{ product['price'] }}$</span>
                {% endif %}
            </div>
            <div class="simple-product-description3">
                <span>Sales &nbsp;&nbsp; {{ product['sales_num'] }}</span><br>
                <span>Rating &nbsp; {{ product['product_rating'] }}</span>
            </div>
        </div>
        <div class="div-separator"></div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
