{% extends 'base.html' %}

{% block header %}
    {% block title %}Search Result for '{{ product_name }}'{% endblock %}
{% endblock %}

{% block content %}
    <hr>
    <div class="products_list">
        {% if products %}
            {% for product in products %}
                <div class="product_into">
                    <header>
                        <div>
                        <h2>{{ product['name'] }}</h2>
                        <div class="about">Price: {{ product['price'] }}, Stock: {{ product['stock'] }}, Category: {{ product['category'] }},  <a href="">Buying</a></div>
                        </div>
                    </header>
                    <p class="description">DC rate: {{ product['dc_rate'] }}, Sales num: {{ product['sales_num'] }},</p>

                </div>
                {% if not loop.last %}
                <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
