<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Mall</title>
    <h1 style = "text-align:center;">Shopping Mall</h1>

    <div class="box" style="float:right;">
      <div class="container-4">
        <input type="search" id="search" placeholder="Search..." />
        <button class="icon"><i class="fa fa-search"></i></button>
      </div>
    </div>

    <h3>HOTDEAL search</h3>
    <h4>category<h4>
</br>
</head>
    <body>
    <div class="clothes"> 1. Clothes
        <div style = "border:1px dashed#BDBDBD; width:340px; height:150px">product1 </div>
    </div>
    <div class="food"> 2. Food
        <div style = "border:1px dashed#BDBDBD; width:340px; height:150px">product1 </div>

    </div>
    <div class="book"> 3. Book
        <div style = "border:1px dashed#BDBDBD; width:340px; height:150px">product1 </div>


    </div>
</body>
</html>
