.search-bar {
    display: block;
}

.search-bar form {
    padding: 5px;
    margin: auto;
    max-width: 100px;
}

.search-bar form input {
    padding: 10px;
    display: inline;
    float: left;
    font-size: 17px;
    border: 1px solid grey;
    width:80%;
    height: 50px;
}

.search-bar form button {
    float: left;
    width: 20%;
    display: block;
    padding: 10px;
    background: #3898EC;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 50px
}

.search-bar form button:hover {
    background: #888888;
}

.nav-category {
    text-align: center;
}

.nav-category-link {
    font-weight: bold;
    background: #3898EC;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    max-width: 940px;
    color: #FFFFFF;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.div-block-simple-product-info {
    margin-right: 400px;
    margin-left: 400px;
}

.simple-product-description1 {
    float: left;
    width: 600px;
    height: 100px;
}

.simple-product-description3 {
    float: right;
    width: 200px;
    padding: 0px 20px;
    height: 100px;
}

.simple-product-description2 {
    float: right;
    width: 200px;
    padding: 0px 20px;
    height: 100px;
}

.div-block-product-info {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

.div-block-product-info-sub1 {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.div-block-product-info-sub2 {
    padding: 10px;
}

.span-dc-rate {
    color: red;
}

.span-dc-price {
    color: black;
    font-weight: bold;
    font-size: 120%;
}

.span-original-price {
    color: grey;
}

.hr-in-product-info {
    border: 0;height: 1px;background: #ccc;
}

.description-in-product-info {
    padding: 10px;
}

.form-in-product-info {
    padding-top: 10px;
}

.sort-form {
    text-align: center;
}

.sort-form form input {
    width: auto;
    display: inline;
    margin: 20px;
    background-color: #3898EC;
    color: white;
}

.span-product-description {
    display: block;
    font-style: italic;
    max-width: 500px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
}

.span-product-registration-date {
    font-style: italic;
    color: grey;
}

.span-product-category {
    font-style: italic;
    color: green;
}

.span-sales {
    color: #0080ff;
}

.span-rating {
    color: #ff7f00;
}
