.search-bar {
    display: block;
}

.search-bar form {
    padding: 5px;
    margin: auto;
    max-width: 100px;
}

.search-bar form input {
    padding: 10px;
    display: inline;
    float: left;
    font-size: 17px;
    border: 1px solid grey;
    width:80%;
    height: 50px;
}

.search-bar form button {
    float: left;
    width: 20%;
    display: block;
    padding: 10px;
    background: #3898EC;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 50px
}

.search-bar form button:hover {
    background: #888888;
}

.nav-category {
    text-align: center;
}

.nav-category-link {
    font-weight: bold;
    background: #3898EC;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    max-width: 940px;
    color: #FFFFFF;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.div-block-simple-product-info {
    margin-right: 400px;
    margin-left: 400px;
}

.simple-product-description1 {
    float: left;
    width: 600px;
    height: 100px;
}

.simple-product-description3 {
    float: right;
    width: 200px;
    padding: 0px 20px;
    height: 100px;
}

.simple-product-description2 {
    float: right;
    width: 200px;
    padding: 0px 20px;
    height: 100px;
}