* {
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    height: 100%;
    font-family: sans-serif;
    display: block;
}

a {
    background-color: transparent;
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    display: block;
}

h2 {
    display: block;
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

h1, h2, h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

h5 {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

form {
    display: block;
    margin-top: 0em;
    min-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

nav {
    display: block;
}

input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.heading {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.heading-2 {
    font-family: Inconsolata, monospace;
    text-align: center;
}

.div-block {
    margin-top: 30px;
}

.form-block {
    margin: 0 300px 15px;
    text-align: center;
}

.form {
    display: inline-block;
    text-align: left;
}

.button {
    margin-top: 10px;
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    align-items: flex-start;
    text-align: center;
}

.nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}

.nav:before, .w-nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}

.nav-menu {
    position: relative;
    float: right;
}

.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    max-width: 1200px;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: " ";
    display: table;
}

.div-block-order {
    margin-right: 400px;
    margin-left: 400px;
}

.delivery-text {
    float: left;
}

.confirm-button {
    float: right;
    border-radius: 20px;
}

.tack-button {
    margin-right: 20px;
    float: right;
    border-radius: 20px;
}

.div-separator {
    position: static;
    max-height: 1px;
    min-height: 1px;
    margin-top: 70px;
    clear: both;
    background-color: transparent;
    background-image: -webkit-radial-gradient(circle farthest-side at 50% 50%, #000, #595959 0%, #fff);
    background-image: radial-gradient(circle farthest-side at 50% 50%, #000, #595959 0%, #fff);
    opacity: 0.7;
}

.coupon-block {
    float: left;
    width: 100%;
    padding-right: 20px;
    padding-left: 25px;
    margin: 0 auto;
    text-align: center;
}

.coupon-block ul {
    list-style: none;
}

.coupon-block ul li {
    color: #808080; padding-bottom: 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    padding-right: 10px;
}

.flash {
    text-align: center;
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}
