<!doctype html>
<title>{% block title %}{% endblock %} - Simple ShoppingMall</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>ShoppingMall</h1>
  <div class=metanav>
    {% if not session.logged_in %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% else %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('cart.cart_list') }}">Cart</a>
    {% endif %}
  <div class=metanav>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
