<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Awesome Shopping Mall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic," +
                "600,600italic,700,700italic,800,800italic,900,900italic", "Inconsolata:400,700"]
            }
        });

        function checkSearchBar() {
          var search_form = document.search_form;
          var product_name = search_form.product_name;
          if (!product_name.value) {
            alert("Please enter the product name.");
            return false;
          }
          search_form.submit();
        }
    </script>
</head>

<body>
<div>
    <h1 class="heading">Awesome Shopping Mall</h1>
</div>

<div class="search-bar">
  <form name="search_form" method="post" action="{{ url_for('search.product_name') }}" style="padding:5px;margin:auto;max-width:500px; height: 50px;" onsubmit="checkSearchBar(); return false;">
    <input type="text" placeholder="Search Product.." name="product_name" >
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<br>

<div class="nav">
    <div class="container">
        <nav role="navigation" class="nav-menu">
            <a href="{{ url_for('index') }}" class="nav-link">Home</a>
            <a href="{{ url_for('search.category') }}" class="nav-link">Categories</a>
            <a href="{{ url_for('search.searchHOTDEAL')}}" class="nav-link">Hotdeal</a>
            <a href="{{ url_for('search.searchDC')}}" class="nav-link">Discount</a>

            {% if g.user %}
                <a href="{{ url_for('account.display_info') }}" class="nav-link">My Account</a>
                <a href="{{ url_for('mylist.my_list') }}" class="nav-link">My List</a>
                <a href="{{ url_for('cart.cart_list') }}" class="nav-link">My Cart</a>
                <a href="{{ url_for('orders.display_orders') }}" class="nav-link">My Orders</a>
                <a href="{{ url_for('coupon.coupon_list') }}" class="nav-link">Coupon</a>
                <a href="{{ url_for('auth.logout') }}" class="nav-link">Log Out</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="nav-link">Log In</a>
            {% endif %}
        </nav>
    </div>
</div>

{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}

<div>
    <h2 class="heading-2">{% block header %}{% endblock %}</h2>
</div>

<div class="div-block">{% block content %}{% endblock %}</div>
</body>
</html>
