{% extends 'base.html' %}

{% block header %}
  {% block title %}배송주문조회{% endblock %}
{% endblock %}

{% block content %}
    {% for order in orders %}
        <div class="div-block-order">
            <h5>주문 번호: {{ '{0:08d}'.format(order['order_id']) }}</h5>
            <div class="delivery-text">주문 날짜: {{ order['order_date'] }}
                <br>배송 상태: {{ order['last_status'] }}
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th class="column1">상품명</th>
                            <th class="column2">가격</th>
                            <th class="column3">수량</th>
                            <th class="column4">합계</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in order['products'] %}
                        <tr>
                            <td class="column1 table-name">{{ product['name'] }}</td>
                            <td class="column2 table-value">{{ '{0:.2f}'.format(product['price']) }} $</td>
                            <td class="column3 table-value">{{ product['quantity'] }}</td>
                            <td class="column4 table-value">{{ '{0:.2f}'.format(product['total_sum']) }} $</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if order['price'] == order['discount_price']%}
            <div class="total">총액: {{ '{0:.2f}'.format(order['discount_price']) }}</div>
            {% else %}
            <div class="total">총액: <s>{{ '{0:.2f}'.format(order['price']) }}</s>
                {{ '{0:.2f}'.format(order['discount_price']) }}
            </div>
            {% endif %}

            {% if order['last_status'] == "Shipped" or order['last_status'] == "Delivered" %}
            <form method="post">
                <input name="order_id" value="{{ order['order_id'] }}" style="display: none;">
                <input type="submit" name="submit" value="주문 배송 확인" class="confirm-button button"/>
                <a onclick="window.open('{{ url_for('track_delivery.display_history', order_id=order['order_id']) }}',
                                '', 'width=600, height=600');"
                   class="tack-button button" id="{{ order['order_id'] }}" target="_blank">배송 조회</a>
            </form>
            {% endif %}
            <div class="div-separator"></div>
        </div>
    {% endfor %}
{% endblock %}
