<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Awesome Shopping Mall</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Inconsolata:400,700"]
            }
        });
    </script>
</head>

<body>
<div>
    <h1 class="heading">Awesome Shopping Mall</h1>
</div>

<div class="nav">
    <div class="container">
        <nav role="navigation" class="nav-menu">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">My Account</a>
            <a href="#" class="nav-link">Contact</a>
        </nav>
    </div>
</div>

<div>
    <h2 class="heading-2">My orders</h2>
</div>

<div class="div-block">
    <div class="div-block-order">
        <h5 class="heading-3">Order #1<br></h5>
        <div class="delivery-text">Name of the product<br>Delivery Status</div>
        <a class="confirm-button button">Confirm Delivery</a>
        <a href="#" class="tack-button button">Track Delivery</a>
        <div class="div-separator"></div>
    </div>
    <div class="div-block-order">
        <h5 class="heading-3">Order #2<br></h5>
        <div class="delivery-text">Name of the product<br>Delivery Status</div>
        <a class="confirm-button button">Confirm Delivery</a>
        <a href="#" class="tack-button button">Track Delivery</a>
        <div class="div-separator"></div>
    </div>
</div>

</body>
</html>
