{% extends 'base.html' %}

{% block header %}
  {% block title %}결재{% endblock %}
{% endblock %}

{% block content %}



        <div class="product_info">
{#            hmm...#}
        </div>

        <div class="form-block">
            <form method="post" class="form">

                <label>쿠폰목록:</label>
                <select name="coupon_list">

                    {% if dc_sum == 0 %}

                        <option value = 0>select</option>
                       {% for coupon in coupon_list %}
                           <option name = select_coupon value = {{ coupon.coupon_id }}>
                               {{ coupon.name }} coupon {{ coupon.discount }}%discount
                           </option>
                       {% endfor %}

                    {% else %}
                        <option value=0></option>
                        {% for coupon in coupon_list %}
                            {% if coupon.coupon_id != select_coupon %}
                               <option name = select_coupon value = {{ coupon.coupon_id }}>
                                   {{ coupon.name }} coupon {{ coupon.discount }}%discount
                               </option>
                            {% else %}
                                <option name = select_coupon value = {{ coupon.coupon_id }} selected='selected'>
                                   {{ coupon.name }} coupon {{ coupon.discount }}%discount
                               </option>
                           {% endif %}
                       {% endfor %}

                    {% endif %}

                </select>

                <input type =hidden name="price" value={{ price_sum }}>
                <label>마일리지: {{ client_info.mileage }}[0.001$] </label>
                <input type=number name="mileage" value={{ mileage }} min="0" max ={{ client_info.mileage }} class="input">
                <input type="hidden" name="amount" value={{ amount }}>
                <input type="hidden" name="product_id" value={{ product_id }}>
                <input type = 'submit' name="discount" value="할인 적용" class="button">

            </form>
        </div>
        <div class="form-block">
            <form action = '{{  url_for('payment.result') }}' method=post class="form">
                {% if select_coupon > 0 or mileage > 0 %}
                <h2><label><del>{{ "%.2f" | format(price_sum) }}$ </del></label></h2>
                <h2><label>{{ "%.2f" | format(price_sum-dc_sum) }}$</label></h2>
                {% else %}
                <h2><label>{{ "%.2f" | format(price_sum) }}$ </label></h2>
                {% endif %}

                <input type =hidden name="price" value = {{ price_sum }}>
                <input type =hidden name="dc_price" value = {{ price_sum - dc_sum }}>

                <br>
                <label>이름:</label>
                <input type=text name="name" value = {{ client_info.name}} required class="input">
                <label>전화번호:</label>
                <input type=tel name="phone" value = {{ client_info.phone }} required class="input">
                <label>주소:</label>
                <input type=text name="address" value = {{ client_info.address }} required class="input">
                <input type="hidden" name="mileage" value = {{client_info.mileage}}>
                <input type="hidden" name="mileage_used" value ={{ mileage }}>
                <input type="hidden" name="coupon_id" value={{ select_coupon }}>
                <input type="hidden" name="amount" value={{ amount }}>
                <input type="hidden" name="product_id" value={{ product_id }}>
                <input type="submit" value="구매하기" class="button">
            </form>
        </div>
{% endblock %}

