{% extends 'base.html' %}

{% block header %}
  {% block title %}Payment{% endblock %}
{% endblock %}

{% block content %}
    {% for product in cart_list %}

    {% endfor %}
    {% for coupon in coupon_list %}
    {% endfor %}

    <div class="payment-block">
        <div class="client_infos">
            {% for client_infos in client_infos %}
                <form action = '{{  url_for('payment.result') }}' method=post>
                    <label>가격: {{ price_sum }} $</label>
                    <input type =hidden name="price" value = {{ price_sum }}>
                    <label>이름:</label>
                    <input type=text name="name" value = {{ client_infos.name}} required>
                    <label>전화번호:</label>
                    <input type=tel name="phone" value = {{ client_infos.phone }} required>
                    <label>배송지:</label>
                    <input type=text name="address" value = {{ client_infos.address }} required>
                    <label>사용가능 마일리지: {{ client_infos.mileage }} </label>
                    <input type=text name="mileage" value="0">
                    <label>쿠폰목록:</label>
                    <select name="couponlist">
                       {% for coupon in coupon_list %}
                           <option value = {{ coupon.coupon_id }}>
                               {{ coupon.name }}쿠폰 {{ coupon.discount }}%할인
                           </option>
                       {% endfor %}
                    </select>
                    <input type="submit" value="구매">
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}

